body {
    background-color: #b2edff !important;
}

h1, h2 {
  font-family: 'Bitter', serif !important;
  text-align: center;
}

p {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
